@define-color fg #3c3836;
@define-color bg #fbf1c7;
@define-color blue #458588;
@define-color red #cc241d;
@define-color yellow #d7ff21;
@define-color green #98971a;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color gray #c76f64;

/* =============================== */
/* Universal Styling */
* {
    border: none;
    font-family: 'FiraCode Nerd Font', monospace;
    font-size: 14px;
    font-weight: bold;
}

/* =============================== */
/* Bar Styling */
#waybar {
    background: @bg;
    color: @fg;
    border: 4px solid @fg;
}

/* =============================== */
/* Workspaces */
#workspaces {
    padding-left: 10px;
}

/* =============================== */
/* Window */
#window {
    margin-left: -5px;
}

/* =============================== */
/* Perfs */
#cpu,
#memory,
#disk,
#temperature {
    color: @blue;
    font-weight: normal;
}

/* =============================== */
/* CPU */
#cpu {
    margin-right: 25px;
}

/* =============================== */
/* CPU */
#cpu {
    margin-right: 25px;
}

/* =============================== */
/* Memory */
#memory {
    margin-right: 25px;
}

/* =============================== */
/* Disk */
#disk {
    margin-right: 25px;
}

/* =============================== */
/* Temperature */
#temperature {
    margin-right: 25px;
}

/* =============================== */
/* Others */
#network,
#pulseaudio,
#battery,
#backlight {
    color: @purple;
    font-weight: normal;
}

/* =============================== */
/* Network */
#network {
    margin-right: 15px;
}


/* =============================== */
/* Clock */
#clock.date {
    padding-right: 18px;
}
