@define-color fg #3c3836;
@define-color bg #fbf1c7;
@define-color blue #458588;
@define-color red #cc241d;
@define-color yellow #d7ff21;
@define-color green #98971a;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color gray #7c6f64;

/* =============================== */
/* Universal Styling */
* {
    border: none;
    font-family: 'FiraCode Nerd Font', monospace;
    font-size: 14px;
    font-weight: bold;
}

/* =============================== */
/* Bar Styling */
#waybar {
    background: transparent;
    color: @fg;
}

/* =============================== */
/* Workspaces */
#workspaces {
    padding-left: 5px;
    border: 4px solid @fg;
    border-right: 0;
    background: @bg;
}

/* =============================== */
/* Window */
#window {
    margin-left: -5px;
    padding-right: 10px;
    border: 4px solid @fg;
    border-left: 0;
    background: @bg;
}

/* =============================== */
/* Perfs */
#cpu,
#memory,
#disk,
#temperature {
    color: @gray;
    font-weight: normal;
    border: 4px solid @fg;
    padding-left: 10px;
    padding-right: 10px;
    background: @bg;
    margin-right: 10px;
}

/* =============================== */
/* Others */
#"custom/spotify"
#network,
#pulseaudio,
#battery,
#backlight {
    color: @purple;
    font-weight: normal;
    border: 4px solid @fg;
    padding-left: 10px;
    padding-right: 10px;
    background: @bg;
    margin-right: 10px;
}

/* =============================== */
/* Clock */
#clock {
    padding-left: 10px;
    padding-right: 10px;
    background: @bg;
}
#clock.date {
    padding-right: 18px;
    border: 4px solid @fg;
}
#clock.time {
    border: 4px solid @fg;
    margin-right: 10px;
}
