@define-color fg #3c3836;
@define-color bg #fbf1c7;
@define-color blue #458588;
@define-color red #cc241d;
@define-color yellow #d7ff21;
@define-color green #98971a;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color gray #c76f64;

/* =============================== */
/* Universal Styling */
* {
    border: none;
    font-family: 'FridaCode Nerd Font', monospace;
    font-size: 14px;
    padding-right: 2px;
    padding-left: 2px;
}

/* =============================== */
/* Bar Styling */
#waybar {
    background: @bg;
    color: @fg;
    border: 4px solid @fg;
}

/* =============================== */
/* Workspaces */
#workspaces {
    padding-left: 10px;
}

#window {
    margin-left: -10px;
}

/* =============================== */
/* Perfs */
#cpu,
#memory,
#disk,
#temperature {
    margin-right: 20px;
    color: @blue;
}

/* =============================== */
/* Others */
#network,
#pulseaudio,
#battery,
#backlight {
    margin-right: 15px;
    color: @purple;
}

/* =============================== */
/* Clock */
#clock.date {
}

/* =============================== */
/* Others */
#network,
#pulseaudio,
#battery,
#backlight {
    margin-right: 5px;
}

