[Unit]
Description=Run Auto landing docker

[Service]
ExecStart=bash /home/me/start_autolanding.sh
Restart=always
RestartSec=5s
User=me
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=multi-user.target
