[Unit]
Description=Parrot Sphinx Watchdog
After=network.target
After=mediamtx.service
Requires=mediamtx.service

[Service]
Type=simple
ExecStart=/home/me/drone_simu.sh
Restart=always
RestartSec=10
User=me

[Install]
WantedBy=default.target
