[Unit]
Description=GST re-encorder
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/me/test_gst.py
Restart=always
RestartSec=10
User=me

[Install]
WantedBy=default.target
