[Unit]
Description=Run Parrot Sphinx

[Service]
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=parrot-ue4-industrial-city -gps-json='{"lat_deg": 48.832716, "lng_deg": 2.289941, "elevation": 2.0}' -quality=high
Restart=always
RestartSec=5s
User=me

[Install]
WantedBy=multi-user.target
